/* shared styles */
.share-width1 {
     max-width: 1140px;
     margin-left: 150px;
     margin-right: 150px;

}

.share-width2 {
     max-width: 1440px;

}

.display-flex {
     display: flex;
}

.ash-color {
     font-weight: medium;
     color: rgba(137, 135, 161, 1);

}

.p-color {
     color: rgba(0, 0, 0, 0.5);

}

.text-bold {
     font-weight: bold;

}

.orange-color {
     color: rgba(233, 90, 8, 1);
}

.img-logo img {
     height: 82px;
     width: 135px;
     margin-top: 5.5px;
     margin-bottom: 5.5px;
}

.btnpri {
     height: 50px;
     width: 270px;
     gap: 10px;
     background-color: rgba(233, 90, 8, 1);
     font-size: 16px;
     font-weight: 500;
     color: rgba(255, 255, 255, 1);
     border: none;
}

/* text decoration */
.raleway {
     font-family: "Raleway", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
}

.inter {
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
}

.noto-serif {
     font-family: "Noto Serif", serif;
     font-optical-sizing: auto;
     font-style: normal;
}

/* nav styles */
.header {
     align-items: center;
     margin-top: 30px;
     height: 71px;
}

.navbar {
     justify-content: space-between;
     align-items: center;


}

/* .navbar-links {
     align-items: center;
     margin-left: 590px;

} */

.nav-item {
     list-style: none;
     white-space: nowrap;
}

.navbar-link {
     text-decoration: none;
     font-weight: 500;
     font-size: 16px;
}

.navbar-link-3 {
     margin-right: 48px;
}

.img-logo {
     align-items: center;
}

.cart-icon {
     margin-right: 10px;
     height: 24px;
     width: 24px;

}

/* main styles */

.sec-1 {
     justify-content: space-between;
     margin-top: 120px;
     max-height: 461px;
}

.write-item {
     max-height: 299px;
     margin-top: 162px;
}

.flower-head {
     font-weight: bold;
     font-size: 65px;
     margin-bottom: 13px;
}

.flower-p {
     font-size: 22px;
     height: 108px;

}

.flower-img {
     max-height: 355px;
     margin-top: 106px;
}

.sec-2 {
     margin-top: 119px;
}

.plant-h {
     text-align: center;
     font-size: 50px;
     font-weight: bold;
     max-height: 68px;



}

.plant-p {
     text-align: center;
     font-size: 22px;
     color: rgba(0, 0, 0, 0.5);
     align-items: center;
     margin-bottom: 49px;
     margin-top: 40px;

}

.cart-grid {
     display: grid;
     grid-template-columns: repeat(4, 2fr);
     gap: 30px;
}

.cart-card {
     text-align: center;

}

.cart-card img {
     width: 270px;
     height: 322px;
}

.name-p {
     font-size: 22px;
     font-weight: medium;
     margin-top: 30px;
     margin-bottom: 20px;
}

.money {
     font-size: 22px;
     font-weight: bold;
     margin-bottom: 30px;
}

.sec-3 {
     margin-top: 211px;
}

.flower-plant-body {
     justify-content: space-between;
     gap: 60px;
}

.flower-plant-img {
     height: 597px;
     width: 540px;
}

.trusted-badge {
     width: 286px;
     max-height: 286px;
     /* display: flex;
     align-items: center;
     justify-content: center; */

}

.flower-tittle {
     height: 521px;
     gap: 20px;
}

.flower-plant-h {
     font-size: 50px;
     font-weight: bold;
     height: 137px;
     margin-bottom: 20px;
}

.flower-plant-p {
     font-size: 22px;
     color: rgba(0, 0, 0, 0.5);
     margin-top: 20px;
     height: 108px;

}

.sec-4 {
     margin-top: 133.88px;
     align-items: center;

}

.deals {
     font-size: 50px;
     font-weight: bold;
     text-align: center;
     height: 68px;
}

.deals-p {
     font-size: 22px;
     color: rgba(0, 0, 0, 0.5);
     margin-top: 16px;
     text-align: center;
     height: 54px;
}

.sec-5 {
     gap: 28px;
     margin-top: 120px;

}

.shop-offer {
     height: 423px;
     width: 367px;
}

.bloom-plant,
.ana-plant {
     border-radius: 14px;
     background-repeat: no-repeat;
     align-items: center;
     text-align: center;
}

.bloom-plant {
     background-image: url('assets/deal-bloom.png');
     height: 201px;
     width: 367px;
     margin-bottom: 25px;

}

.ana-plant {
     background-image: url('assets/deal-ana.png');
     height: 197px;
     width: 367px;
}

.shop-text {
     text-align: center;
     height: 91px;
     padding: 49px 60px;
}

.discount-h {
     color: rgba(255, 255, 255, 1);
     font-size: 20px;
     font-weight: bold;
}

.shop-link {
     font-size: 16px;
     font-weight: 400;
     color: rgba(255, 255, 255, 1);
}

.Zabo-plant {
     border-radius: 22px;
     gap: 10px;
     width: 753px;
     height: 423.13px;
     background-repeat: no-repeat;
     background-image: url('assets/deal-zabo.png');

}

.discount-h2 {
     text-align: center;
     font-size: 40px;
     font-weight: bold;
     color: rgba(255, 255, 255, 1);
     white-space: nowrap;

}

.shop-link2 {
     font-size: 22px;
     font-weight: 400px;
     color: rgba(255, 255, 255, 1);
     margin-top: 0;
}

.discount-h2,
.shop-text2 {
     margin: 0;
}

.shop-text2 {
     text-align: center;
     margin-top: 172px;

}

.join-section {
     margin-top: 120px;
     height: 533px;
     background-image: url('assets/news-letter-bg.png');
     background-repeat: no-repeat;
     background-size: cover;
}


.join-title {
     align-items: center;
     text-align: center;
     justify-content: center;
     padding: 165px;

}

.join-h {
     color: rgba(255, 255, 255, 1);
     font-size: 50px;
     font-weight: bold;
}

.subscribe-form {
     max-width: 830px;
     height: 50px;
     margin: 0 auto;
}

.subscribe-input {
     padding: 12px 15px;
     border: none;
     font-size: 16px;
     width: 644px;
}

.Subscribe-btn {
     font-size: 16px;
     color: rgba(255, 255, 255, 1);
     font-weight: 500;
     border: none;
     background-color: rgba(233, 90, 8, 1);
     padding: 12px 19px;
     width: 186px;


}

/* footer section */

.footer-box {
     margin-top: 50px;
}

.foot-p {
     font-size: 22px;
     height: 81px;
     width: 359px;
}


.decorations {
     display: grid;
     grid-template-columns: repeat(2, 5fr);
     font-size: 16px;
     font-weight: 350;
     gap: 32px;

}

.styles {
     text-decoration: none;
     color: #6B7280;

}

.decoration,
.decoration1 {
     margin-left: 110px;
     list-style: none;

}

.social-icon {
     width: 36px;
     height: 36px;
     margin-left: 110px;
     gap: 24px;

}

.mobile-icon {
     display: none;
}

/* mobile reponse */
@media screen and (max-width: 768px) {
     .img-logo img {
          height: 38px;
          width: 63px;
     }

     .header {
          margin: 13px 16px;
          height: 38px;
     }

     .mobile-icon {
          display: block;
          margin-right: 10px;
          height: 24px;
          width: 24px;
          white-space: nowrap
     }

     .navbar-links {
          display: none;
     }



     .sec-1 {
          /* margin-top: 28px; */
          flex-direction: column-reverse;
          margin-right: 16.18px;
          margin-left: 16px;

     }

     .write-item {
          margin-top: 28px;
     }

     .flower-head {
          font-size: 24px;
     }

     .flower-p {
          font-size: 14px;
     }

     .flower-img {
          margin-top: 28px;

     }

     .sec-2 {
          margin-top: 65px;
          align-items: center;
          /* gap: 16px; */
          margin-right: 14px;
          margin-left: 14px;

     }

     .plant-h {
          text-align: center;
          font-size: 24px;
          font-weight: bold;
          max-height: 33px;
          white-space: nowrap;



     }

     .plant-p {
          font-size: 14px;
          margin-bottom: 28px;
          margin-top: 16px;
          height: 68px;

     }

     .cart-card.cart-7,
     .cart-card.cart-8 {
          display: none;
     }

     .cart-grid {
          grid-template-columns: repeat(2, 3fr);
     }

     .cart-card img {
          width: 171px;
          height: 196px;
     }

     .name-p {
          font-size: 16px;
          margin-top: 30px;
          margin-bottom: 10px;
     }

     .money {
          font-size: 16px;
          margin-bottom: 30px;
     }

     .btnpri {
          height: 50px;
          width: 171px;
          gap: 10px;
          font-size: 16px;

     }

     .flower-plant-body {
          flex-direction: column;
          gap: 18px;
          margin-top: 41px;
          margin-left: 17px;
          margin-right: 18px;
     }

     .trusted-badge {
          display: none;
     }

     .flower-tittle {
          height: 234px;
          gap: 16px;
     }

     .flower-plant-h {
          font-size: 24px;
          height: 33px;
          white-space: nowrap;
     }

     .flower-plant-p {
          font-size: 14px;
          height: 51px;

     }

     .sec-4 {
          margin-top: 143px;
     }

     .deals {
          font-size: 24px;
          height: 33px;
     }

     .deals-p {
          font-size: 14px;
          margin-top: 16px;
          margin-right: 28.5px;
          margin-left: 28.5px;
     }

     .sec-5 {
          align-items: center;
          gap: 20px;
          margin-top: 51.5px;
          flex-direction: column;
          margin-left: 16px;
          margin-right: 16px;

     }

     .bloom-plant,
     .ana-plant {
          border-radius: 14px;
          height: 184.5px;
          width: 361px;

     }

     .Zabo-plant {
          border-radius: 14px;
          width: 361px;
          height: 172px;
          background-repeat: no-repeat;
          background-image: url('assets/deal-zabo.png');

     }

     .discount-h2 {
          color: rgba(255, 255, 255, 1);
          font-size: 20px;
          font-weight: bold;
          white-space: nowrap;

     }

     .shop-link2 {
          font-size: 16px;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
     }

     .shop-text2 {
          text-align: center;
          height: 91px;
          padding: 49px 60px;

     }

     .join-section {
          margin-top: 40px;
          height: 276px;
     }

     .join-title {
          padding: 80px;
     }

     .join-h {
          font-size: 20px;
     }

     .subscribe-form {
          max-width: 321px;
          height: 50px;
          margin: 0 auto;
     }

     .subscribe-input {
          padding: 8px 20px;
          width: 218px;
     }

     .Subscribe-btn {
          width: 103px;
     }

     .footer-box {
          flex-direction: column;
          margin-top: 50px;
          margin-right: 14px;
          margin-left: 20px;
          margin-bottom: 50px;
     }

     .img-logo {
          width: 180px;
          height: 109px;
     }

     .foot-p {
          margin-top: 16px;
          font-size: 16px;
          height: 24px;
     }


     .decorations {
          margin-top: 20px;
          grid-template-columns: max-content;
     }



     .decoration,
     .decoration1,
     .social-icon {
          margin: 0;
     }
}